$base-black-color: #202124;
$base-grey-color-1: #616161;
$base-grey-color-2: #bbbbbb;
$base-grey-color-3: #dddddd;
$base-white-color: #f5f5f5;
$base-rose-color: #db9898;
$base-darkrose-color: #a74949;
$base-green-color: #7b9569;
$base-darkgreen-color: #1a5026;

@import './reset';
@import './font';
@import './wrapper';
@import './colorPicker';
@import './colorInput';
@import './colorPreviewBox';
@import './dropdownArrow';
@import './colorRangePicker';
@import './colorListItem';
